<div id="<%= dom_id produto %>">
  <p>
    <strong>Id produto:</strong>
    <%= produto.id_produto %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= produto.tipo %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= produto.peso %>
  </p>

</div>
