<% content_for :title, "Editar produto" %>

<h1>Editing produto</h1>

<%= render "form", produto: @produto %>

<br>

<div>
  <%= link_to "Detalhar produto", @produto %> |
  <%= link_to "Voltar", produtos_path %>
</div>
