<p style="color: green"><%= notice %></p>

<% content_for :title, "Produtos" %>

<h1>Produtos</h1>

<div id="produtos">
  <% @produtos.each do |produto| %>
    <%= render produto %>
    <p>
      <%= link_to "Detalhar produto", produto %>
    </p>
  <% end %>
</div>

<%= link_to "Cadastrar produto", new_produto_path %>
